go 1.22.3

use (
	./apps/block-feed/block-flusher
	./apps/block-feed/block-forwarders/eth-forwarder
	./apps/block-feed/block-forwarders/flow-forwarder
	./apps/block-feed/block-processors/webhook-processor
	./apps/block-feed/block-router
	./packages/go/appenv
	./packages/go/block-sources/ethsrc
	./packages/go/block-sources/flowsrc
	./packages/go/block-stores/blockstore
	./packages/go/block-stores/cachedstore
	./packages/go/block-stores/mongostore
	./packages/go/block-stores/redistore
	./packages/go/block-stores/timescalestore
	./packages/go/block-trackers/timescaletracker
	./packages/go/common
	./packages/go/queries
	./packages/go/services/blockbiller
	./packages/go/services/blockforwarder
	./packages/go/services/blockrelay
	./packages/go/services/blockrouter
	./packages/go/services/blockusage
	./packages/go/streams
	./packages/go/tests
	./packages/go/testutils
	./packages/go/validation
)
