# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build

# OpenAPI Generator
.openapi-generator-ignore
.openapi-generator

# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl
.terraform/

# Custom
libs/shared/testing/openapi
**/*/env/production/**/*.env
**/*/env/staging/**/*.env
env/development/auth0.env
env/development/aws.env
.generated
test.http
ignore
