# See http://help.github.com/ignore-files/ for more about ignoring files.

# Custom
libs/shared/testing/src/lib/core/openapi
env/prod/**/*.env
env/stag/**/*.env
env/dev/auth0.env
env/dev/aws.env
.generated
test.http
ignore

# OpenAPI Generator
.openapi-generator-ignore
.openapi-generator

# Serverless directories
.serverless
.esbuild
.build

# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl
.terraform/

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache